type Token @entity(immutable: true) {
  id: Bytes!

  image: String!
  name: String!

  daily: [Daily!]! @derivedFrom(field: "token")
  listings: [Listing!]! @derivedFrom(field: "token")
  owners: [UserToken!]! @derivedFrom(field: "token")
  transfers: [Transfer!]! @derivedFrom(field: "token")
}
